{% extends 'blog_engine/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <main class="col-xl-7 mt-5 mb-5">
                <div class="text-center border bg-light p-4">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.get_body_as_markdown }}</p>
                    <p>{{ post.date_pub }}</p>
                    <div class="btn-group mb-2" role="group" aria-label="Basic example">
                        {% if request.user.is_staff %}
                        <a href='{% url 'post_update' slug=post.slug %}' class="btn btn-secondary">Edit Post</a>
                        <a href='{% url 'post_delete' slug=post.slug %}' class="btn btn-danger">Delete Post</a>
                        {% endif %}
                    </div>
                </div>
            </main>
                {% include 'blog_engine/include/aside.html' %}
        </div>
    </div>
{% endblock %}