{% extends 'blog_engine/base.html' %}
{% load static %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <main class="col-xl-7 mt-5">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-6">
                            {% include 'blog_engine/include/post_card.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% include 'blog_engine/include/pagination.html' %}
            </main>
            {% include 'blog_engine/include/aside.html' %}
        </div>
    </div>
{% endblock %}